.Weatherw{
color: white;
border: 1px solid var(--text-muted);
border-radius: 12px;
margin: 1rem;
display: flex;
flex-direction: column;
width: 100%;
align-items: center;
height: fit-content;
}
.elements{
    margin: 10px;
}
