* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
}

.app-shell {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
}

.main-content {
  background-color: #06141B;
  padding: 2rem;
  overflow-y: auto;
}